.content {
    height: auto; 

    .welcome {
        display: flex;
        justify-content: space-between;
        max-width: 1248px;
        margin: 0 auto;
        padding: 32px 16px 0;

        #welcome {
            font-weight: bold;
            color: #4a4a4a
        }

        #date {
            color: #8c8c8c
        }
    }

    .articles-container {
        display: flex; 
        box-sizing: border-box;
        max-width: 1280px;
        margin: 0 auto;
        padding: 32px 16px 0;

        .main-article {
            flex: 0 0 50%;
        }

        .articles {
            flex: 0 0 50%;
            display: flex;
            box-sizing: border-box;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
            padding-left: 16px;

            .article {
                flex: 0 0 50%;
                box-sizing: border-box;
                &:nth-child(1), &:nth-child(2){
                    padding-bottom: 16px;
                }

                &:nth-child(2), &:nth-child(4){
                    padding-left: 16px;
                }
            }
        } 

        .main-article img, .article img {
            width: 100%;
            height: 100%;
        }
    }
}
