.content {
    height: auto; 
    margin-bottom: 1rem;

    .welcome {
        display: flex;
        justify-content: space-between;
        max-width: 1248px;
        margin: 0 auto;
        padding: 32px 16px 0;

        #welcome {
            font-weight: bold;
            color: #4a4a4a
        }

        #date {
            color: #8c8c8c
        }
    }

    .articles-container {
        display: flex; 
        box-sizing: border-box;
        max-width: 1280px;
        margin: 0 auto;
        padding: 32px 16px 0;
        min-height: 378px;
        height: 100%;
        color: white; 

        a {
            text-decoration: none;
            font-size: 14px;

            &:visited {
                color: inherit;
            }
        }

        .article-link {
            display: block; 
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            text-decoration: none;
            z-index: 1;
        }

        .main-article, .articles {
            height: auto;
            overflow: hidden;
            position: relative;
        }

        .main-article {
            flex: 0 0 50%;
            filter: brightness(0.9);
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .text-article {
                min-width: 100%;
                min-height: 100%;
            }

            &:hover {
                filter: brightness(1);
            }

            .article-headline {
                position: absolute;
                box-sizing: border-box;
                bottom: 0;
                width: 100%;
                padding: 16px;
                padding-top: 6rem;
                margin: 0; 

                h3 {
                    font-size: 2rem;
                    font-weight: normal;
                    margin: 0;
                }

                .cattegory-link {
                    margin-top: 12px;
                    padding-left: 0.5rem;
                    border-left: 2px solid;
                }
            }
        }

        .articles {
            flex: 0 0 50%;
            display: flex;
            box-sizing: border-box;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
            padding-left: 16px;

            .article {
                flex: 0 0 50%;
                box-sizing: border-box;
                filter: brightness(0.9);
                height: 50%;

                .article-background {
                    height: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    .text-article {
                        min-width: 100%;
                        min-height: 100%;
                        position: relative;

                        .article-headline {
                            position: absolute;
                            bottom: 0;
                            box-sizing: border-box;
                            width: 100%;
                            padding: 12px;
                            padding-top: 2.5rem;
                            margin: 0; 

                            h3 {
                                font-size: 1.25rem;
                                font-weight: normal;
                                margin: 0;
                            }

                            .cattegory-link {
                                margin-top: 12px;
                                padding-left: 0.5rem;
                                border-left: 2px solid;
                            }
                        }
                    }
                }

                &:nth-child(1), &:nth-child(2){
                    padding-bottom: 16px;
                }

                &:nth-child(2), &:nth-child(4){
                    padding-left: 16px;
                }

                &:hover {
                    filter: brightness(1);
                }
            }
       }
    }
}
