table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

#time {
    margin: 1rem 0;
}

.zbytek {
    background-color: #969696;
    color: #fff
}

.prednaska {
    background-color: #fa8078;
    opacity: 0.4;
}

.cviceni {
    background-color: #6fade3;
    opacity: 0.4;
}

.highlighted {
    opacity: 1;
}

.prednaska.highlighted:hover {
    background: #ff4033;
    color: #fff;
}

.cviceni.highlighted:hover {
    background: #0e87ed;
    color: #fff;
}

#timeStamp {
    border-left: 2px solid red;
    position: absolute;
    left: 50%;
    margin-left: -1px;
}

#timeHead {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
}

.todo-list {
    display: grid;
    max-width: 20rem;
    max-height: 25rem;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1rem;
    margin: 2rem 0rem;
}

.todo-list-entry {
    grid-row: span auto;
    display: grid;
    grid-template-rows: 3;
    grid-template-columns: 1;
    max-width: 15rem;
    min-width: 15rem; 
    gap: 0.5rem;
}

.todo-list-entry #todo-header {
    resize: none;
    grid-row: 1;
}

.todo-list-entry #todo-desc {
    resize: none;
    grid-row: 2;
    height: 20rem;
}

.todo-list-entry #todo-save {
    grid-row: 3;
}

.todoTemplate {
    grid-column: 2;
    grid-template-columns: 2;
    display: grid;
    max-width: 15rem;
    width: 15rem;
    max-height: 25rem;
}

.todoTemplate #todo-item-head {
    grid-row: 1;
    grid-column: span auto;
}

.todoTemplate #todo-item-desc {
    grid-row: 2;
    grid-column: span auto;
}

.todoTemplate #todo-item-edit {
    grid-row: 3;
    grid-column: 1;
}

.todoTemplate #todo-item-delete {
    grid-row: 3;
    grid-column: 2;
}

dialog {
    width: 50vw;
    height: 50vh;
}

dialog textarea {
    position: relative; 
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 90%;
}

dialog::backdrop {
    backdrop-filter: blur(3px);
}
